# =========================
# CMake / Build
# =========================
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

# =========================
# Archivos compilados C/C++
# =========================
*.o
*.obj
*.a
*.so
*.so.*
*.dll
*.dylib
*.exe
*.out

# =========================
# Ejecutables del proyecto
# =========================
camara

# =========================
# IDEs / Editores
# =========================
.vscode/
.idea/
*.code-workspace

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db

# =========================
# Archivos temporales
# =========================
*.tmp
*.temp
*.log
*~

# =========================
# Adicionales
# =========================
*/PA*
.DS_Store